{% load static %}
{% load l10n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-color-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'url_home' %}"><img src="{% static 'geral/img/logo.png' %}" width="20%" alt="">iClynikaX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if IS_CLIENTE  %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Área do Cliente
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'url_home' %}">Home</a></li>
                            <li><a class="dropdown-item" href="{% url 'url_mnhs_cnslts' %}">Consultas</a></li>
                            <li><a class="dropdown-item" href="{% url 'url_mnhs_atrza' %}" title="Autorizações">Autorizações</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'url_mnhs_atrza' %}" title="Exames" role="button">Exames</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'url_mnhs_cnslts' %}" title="Consultas" role="button">Consultas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'url_mnhs_atrza' %}" title="Autorizações" role="button">Autorizações</a>
                    </li>
                {% endif %}
                {% if is_medico %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Área do médico
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'url_open_horario' %}">Abrir horários</a></li>
                            <li><a class="dropdown-item" href="{% url 'url_cnslts_medico' %}">Suas consultas</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if cGrp_Usuario == 'Atendente' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Atendimento
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" title="Lista de cadastro de clientes"  href="{% url 'url_clnts_lista' %}">Clientes</a></li>
                            <li><a class="dropdown-item" title="Agenda"  href="{% url 'url_agenda' %}">Agenda</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de Consultas"  href="{% url 'url_pcnts_cnsltas' %}">Consultas</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de Autorizações"  href="{% url 'url_atrzacoes'  %}">Autorizações</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if cGrp_Usuario == 'Gerente' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerente
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" title="Lista de cadastro de clientes"  href="{% url 'url_clnts_lista' %}">Clientes</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de médicos" href="{% url 'url_cnslts_medico' %}">Médicos</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de especializações" href="{% url 'url_espclddes_mdca' %}">Especialidades</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de exames" href="{% url 'url_pcnts_exmes' %}">Exames</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Notificações
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" title="Envia uma nova notificação ao clientes"  href="">Nova</a></li>
                            <li><a class="dropdown-item" title="Lista de Notificações abertas/enviadas" href="">Enviadas</a></li>
                            <li><a class="dropdown-item" title="Lista de Notificações Aceitas/Aprovadas" href="">Aceitas</a></li>
                            <li><a class="dropdown-item" title="Lista de Notificações Recusadas/Reprovadas" href="">Recusadas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cadastro
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" title="Lista de cadastro de clientes"  href="{% url 'url_clnts_lista' %}">Clientes</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de médicos" href="{% url 'url_cnslts_medico' %}">Médicos</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de especializações" href="{% url 'url_espclddes_mdca' %}">Especialidades</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cadastro
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" title="Lista de cadastro de clientes"  href="{% url 'url_clnts_lista' %}">Clientes</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de médicos" href="{% url 'url_cnslts_medico' %}">Médicos</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de especializações" href="{% url 'url_espclddes_mdca' %}">Especialidades</a></li>
                            <li><a class="dropdown-item" title="Lista de cadastro de exames" href="{% url 'url_pcnts_exmes' %}">Exames</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- Nav Item - User Information -->
        <div id="user-tools">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" title="Usuário Logado: &#10; {{request.user.username}}  &#10; &#10; Grupo: &#10; {{ cGrp_Usuario }}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user.first_name}} {{request.user.last_name}}                        
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'url_logout' %}">Logout/Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
