{% extends "base.html" %}
{% load static %}

{% block 'head' %}


{% endblock 'head' %}

{% block 'body' %}
  
    <div class="wrapper">
 
        <main id="main" class="main">
        
            <div class="pagetitle">
                <h1>Consultas - Clientes</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/usuarios/lista/">Clientes</a></li>
                        <li class="breadcrumb-item active">Consultas</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Relação de Consultas dos Clientes</h5>

                                <!-- Table with stripped rows -->
                                <table class="table datatable table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cliente</th>
                                            <th scope="col">Médico</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for consulta in minhas_consultas  %} 
                                            <tr>
                                                <td><a title="{{consulta.id}}" href="{% url 'url_cnslta' consulta.id %}">{{consulta.paciente.first_name}} {{consulta.paciente.last_name}}</a></td>
                                                <td><a title="{{consulta.id}}" href="{% url 'url_cnslta' consulta.id %}">{{consulta.Medico.nome}}</a></td>
                                                <td>{{consulta.get_status_display}}</td>
                                                <td>{{consulta.data_aberta.data}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- End Table with stripped rows -->

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main><!-- End #main -->

    </div>

<!--Ativa as opções do menu principal esquerdo -->
<script language="JavaScript">
    <!--
        document.getElementById('components-nav').className ='nav-content collapse show';
        document.getElementById('sidebar-nav-Atendimento-consultas').className ='active';
    //-->
</script>

{% endblock 'body' %}