{% extends "base2.html" %}
{% load static %}

{% block 'head' %}

{% endblock 'head' %}



{% block 'body' %}

    <div class="container" width="100%" height="100%">
        <br>
        <h2><span class="color-dark">Exames</span></h2>

        <div class="row" width="100%" height="100%">

            <div class="col-md">
                <input type="text" name="especialidades" id="" class="form-control shadow-main-color" placeholder="Especialidades médias">
            </div>
            <div class="col-md">
                <input type="date" name="data" id="" class="form-control shadow-main-color" placeholder="Data da consulta">

            </div>
            <div class="col-md">
                <input type="submit" value="Filtrar" class="btn btn-dark-color-outline">
            </div>
        </div>

        <br>

        <div class="list-minhas-consultas" width="100%" height="100%" style="WIDTH:100%; height:100%;">
              <table class="table datatable table-hover">
                <thead>
                  <tr>
                    <th scope="col">Exame</th>
                    <th scope="col">Detalhe</th>
                  </tr>
                </thead>
                <tbody width="100%" height="100%" style="WIDTH:100%; height:100%;">
                    {% for Exame in Exames  %}
                        <tr>
                            <td><a title="{{Exame.id}}" href="{% url 'url_pcnts_exme' Exame.id %}">{{Exame.exame}}</a></td>
                            <td><a title="{{Exame.id}}" href="{% url 'url_pcnts_exme' Exame.id %}">{{Exame.detalhe}}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

{% endblock 'body' %}